<h1>Actor #<%= @actor_id %> details</h1>

<a href="/actors">Go back</a>

<dl>
<dt>Name</dt> <dd><%= @actor_name %></dd>
<dt>Dob</dt> <dd><%= @actor_dob %></dd>
<dt>Bio</dt> <dd><%= @actor_bio %></dd>
<dt>Image</dt> <dd><%= @actor_image %></dd>

</dl>

<h1>Filmography</h1>
<tr>
    <th>
      Title
    </th>

    <th>
      Year
    </th>

    <th>
      Director
    </th>

    <th>
      Character name
    </th>

    <th>
    </th>
  
  </tr>

  <dl>

  @characters_hash = $list_of_characters.where({ :actor_id => @actor_id})

<% @characters_hash.each do |role| %>
<%  @movie_hashes = @characters_hash.map_relation_to_array(:movie_id) %>

<tr>
  <td> <%= "Movie Title"  %></td>
  <td> <%= "Movie Year"  %></td>
  <td> <%= "Movie Director " %></td>
  <td> <%= role.name %></td>
  <td> <a href="/movies/<%= role.id %>" >Show details</a></td>
</tr>

<% end %>

  </dl>
