<h1>Actor #<%= @actor_id %> details</h1>

<a href="/actors">Go back</a>

<dl>
<dt>Name</dt> <dd><%= @actor_name %></dd>
<dt>Dob</dt> <dd><%= @actor_dob %></dd>
<dt>Bio</dt> <dd><%= @actor_bio %></dd>
<dt>Image</dt> <dd><%= @actor_image %></dd>

</dl>

<% @characters_hash = $list_of_characters.where({ :actor_id => @actor_id }) %>

<h1>Filmography</h1>
<table border="1">

<tr>
    <th>
      Title
    </th>

    <th>
      Year
    </th>

    <th>
      Director
    </th>

    <th>
      Character name
    </th>

  
  </tr>

  
<% @characters_hash.each do |role| %>

<% m = Movie.where({ :id => role.movie_id }).at(0) %>

<tr>
  <td> <%= m.title %> </td>
  <td> <%= m.year %></td>
  
  <% d = Director.where({ :id => m.director_id }).at(0) %>
  <td> <%= d.name %></td>

  <td> <%= role.name %></td>
  <td> <a href="/movies/<%= @actor_id %>" >Show details</a></td>
</tr>

<% end %>
</table>
