<h1>Movie #<%= @movie_info.id %> details</h1>

<a href="/movies">Go back</a>

<p>Name <%= @movie_info.name %></p>
<p>Dob <%= @movie_info.dob %></p>
<p>Bio <%= @movie_info.bio %></p>
<p>Image <%= @movie_info.image %></p>
<p>Created at <%= @movie_info.created_at %></p>
<p>Updated at <%= @movie_info.updated_at %></p>
